h1{
    color: aqua;
}
ul,li,a{
    background-color: green;
    color: aqua;
    margin: 50px;
    padding: 5px;
    display: inline;
    text-decoration: none;
    list-style: none;
}
nav{
    margin: 30px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;

}
img{
    width: 1220px;
    height:400px;
    margin:40px
}
form{
    margin: 20px;
    padding: 10px;
    height: 10px;
    font-size: 30px;
    color: black;
}
.box{
    margin: 30px;
    padding: 10px;
    background-color: green;
    width: 1200px;
}
marquee{
    color: green;
    font-size: 20px;
    margin: 0.5px;

}
button{
    background-color: green;
    color: aqua;
    border-radius: 20px;
}
input{
    color: black;
    background-color: aqua;

}